body {
	background: #f2f2f2;
	background-size: 300px 100px;
	background-image: url(/eletroloja/resources/img/background3.png);
	background-repeat: no-repeat;
	background-position: 50% 150%;
}

.login {
	width: 100%;
	left: 0px;
	height: 10.25em;
	border: 1px solid #ccc;
	background-color: #f3f3f3;
}

.right {
    position: absolute;
    right: 10px;
}

@media only screen and (min-width: 600px) {
	.login {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 30em;
		margin-top: -5.125em;
		margin-left: -15em;
	}
}
.button {
	
}
