body {
	background: #f2f2f2;
	background-repeat: no-repeat;
}

h1 {
	padding-bottom: 9px;
	margin: 40px 10px 20px;
	border-bottom: 1px solid #95b7b7;
}

.login {
	width: 100%;
	left: 0px;
	height: 10.25em;
	border: 1px solid #ccc;
	background-color: #f3f3f3;
}

.cadProduto {
	position: fixed;
	height: 10.25em;
}

.right {
    position: absolute;
    right: 10px;
}

@media only screen and (min-width: 600px) {
	.login {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 20em;
		margin-top: -5.125em;
		margin-left: -10em;
	}
	.cadProduto {
		left: 50px;
	}
}
.button {
	
}
